// ======================================
//
//  各種変数
//
// ======================================

$widthXL: 1280px; //PC大
$widthLG: 1024px; //PC小
$widthMD: 768px; //タブレット
$widthSM: 568px; //スマートフォン
