.wrap{
	width: 100%;
	// margin: 0 auto;
	margin: 0;
	max-width: 320px;
}
section{
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
}

.ball{
	display: block;
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	box-sizing: border-box;
}
.shot{
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #fff;
	box-sizing: border-box;
}
#output{
	width: 100%;
	min-height: 350px;
	background: #000;
	position: relative;
}


.score{
	color: #fff;
	position: absolute;
	left: 4px;
	bottom: 0;
}
.count{
	font-size: 14px;
	margin: 0 0 0 4px;
}

.gameover{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	> p{
		margin: 100px 0;
	}
}
.retry{
	a{
		padding: 15px 30px;
		background-color: rgba(255,255,255,0.3);
		border-radius: 30px;
		color: #fff;
		text-decoration: blink;

		border: 2px solid #fff;
	}
}