.wrap{
	width: 100%;
	margin: 0 auto;
}
section{
	width: 100%;
	margin: 0 auto;
}

.ball{
	display: block;
	position: absolute;
	border-radius: 50%;
	background-color: #f00;
}
#output{
	width: 100%;
	min-height: 350px;
}