.wrap{
	width: 100%;
	// margin: 0 auto;
	margin: 0;
	max-width: 320px;
}
section{
	width: 100%;
	overflow-x: hidden;
	margin: 0 auto;
}

.ball{
	display: block;
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	box-sizing: border-box;
}
.shot{
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #fff;
	box-sizing: border-box;
}
#output{
	width: 100%;
	min-height: 350px;
	background: #000;
	position: relative;
}


.score{
	color: #fff;
	position: absolute;
	left: 4px;
	bottom: 0;
}
.count{
	font-size: 14px;
	margin: 0 0 0 4px;
}
